<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nextorder_extension" translate="label" sortOrder="1000">
            <label>Nextorder</label>
        </tab>
        <section id="menu" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wochenmenü</label>
            <tab>nextorder_extension</tab>
            <resource>Nextorder_Menue::config</resource>

            <group id="menu_group_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bundelprodukt(Wochenmenü)</label>
                <field id="menu_group_1_field_1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Bitte tragen Sie die SKU des Bündelproduktes für Woechenmenü]]></comment>
                </field>
            </group>


            <group id="menu_group_2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Standard-Items für Hauptspeisen</label>
                <field id="menu_group_2_field_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 1</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_2_field_2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 2</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_2_field_3" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 3</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_2_field_4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 4</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_2_field_5" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 5</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
            </group>

            <group id="menu_group_3" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Standard-Items für Vor- und Nachspeisen</label>
                <field id="menu_group_3_field_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 1</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_3_field_2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 2</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_3_field_3" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 3</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_3_field_4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 4</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
                <field id="menu_group_3_field_5" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU für Standard-Speise 5</label>
                    <validate>validate-no-empty</validate>
                    <comment><![CDATA[Die Preis-Klasse dieser Position hängt von der hier eingetragenen SKU ab]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>